{
  "env": {
    "es6": true, 
    "jest/globals": true
  },
  "extends": [
    "eslint:recommended",
    "standard",
    "plugin:jest/recommended",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ]
}
