.body-content {
    background-color: #f6f5f3;
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 auto;
    width: 95%;

    .carousel {
        margin-top: 20px;
        overflow: hidden;
        width: 630px;

        .image-container {
            display: inline-flex;
            position: relative;
            transform: translateX(0%);
            transition: all 500ms ease-in;
            width: 630px;

            img {
                height: 368px;
                object-fit: cover;
                object-position: 0 0;
                opacity: 1;
                position: relative;
                transition: all 500ms ease-in;
                width: 630px;
            }
        }

        &.classic-carousel {
            .image-container {
                transform: translateX(0);

                img:not(.classic-carousel) {
                    opacity: 0;
                }
            }
        }

        &.loom-carousel {
            .image-container {
                transform: translateX(-100%);

                img:not(.loom-carousel) {
                    opacity: 0;
                }
            }
        }

        &.zen-carousel {
            .image-container {
                transform: translateX(-200%);

                img:not(.zen-carousel) {
                    opacity: 0;
                }
            }
        }
    }

    .interactive-area {
        background-color: #f6f5f3;
        font-family: 'Questrial', sans-serif;
        width: 50%;

        h2 {
            font-family: 'Source Serif Pro', serif;
            font-size: 28px;
            font-weight: 300;
            letter-spacing: 0.4px;
            margin: 20px auto 35px;
            text-align: left;
            width: 80%;
        }

        div.mattress-types-container {
            p.select-mattress-type {
                font-size: 14px;
                margin: 0 auto 1em;
                text-align: left;
                text-transform: uppercase;
                width: 80%;
            }

            div.selector-buttons-container {
                margin: 0 auto;
                width: 80%;

                button {
                    background-color: #ffffff;
                    border: 1px solid #d2d2d2;
                    color: #b5b1ab;
                    cursor: pointer;
                    font-family: 'Questrial', sans-serif;
                    height: 42px;
                    outline: none;
                    transition: all 150ms ease-in;
                    width: 33%;
                    white-space: nowrap;

                    &.selected {
                        background-color: #a6a19a;
                        color: #ffffff;
                    }

                    &:first-child {
                        border-right: none;
                    }

                    &:last-child {
                        border-left: none;
                    }
                }
            }

            div.selected-mattress-info {
                display: inline-flex;
                justify-content: space-between;
                margin-top: 30px;
                width: 80%;

                p {
                    margin: 0;
                }

                p.price {
                    opacity: 0.5;
                }
            }

            div.selected-mattress-review {
                font-style: italic;
                margin: 30px auto;
                text-align: left;
                width: 80%;
            }
        }

        div.add-to-cart-container {
            margin: 0 auto;
            width: 80%;

            button.add-to-cart {
                background-color: #d4aa63;
                border: none;
                color: #ffffff;
                cursor: pointer;
                font-family: 'Questrial', sans-serif;
                height: 42px;
                outline: none;
                transition: all 150ms ease-in;
                width: 100%;

                &:active {
                    background-color: #ad8c51;
                }
            }
        }
    }
}

/* Tablet Styles */
@media screen and (max-width: 1024px) {
    .body-content {
        display: block;
        margin: 0 auto;

        div.carousel {
            width: 100%;
        }

        div.interactive-area {
            width: 100%;
        }
    }
}

/* Mobile Styles */
@media screen and (max-width: 600px) {
    .body-content {
        div.carousel {
            margin-top: 0;

            div.image-container {
                width: 375px;

                img {
                    object-fit: contain;
                    object-position: center;
                    width: 375px;
                }
            }
        }

        div.interactive-area {

            h2,
            div.mattress-types-container>p.select-mattress-type {
                text-align: center;
            }

            div.mattress-types-container {

                p.select-mattress-type,
                div.selector-buttons-container,
                div.selected-mattress-info,
                div.selected-mattress-review {
                    width: 90%;
                }
            }

            div.add-to-cart-container {
                width: 90%;
            }
        }
    }
}